body {
    font-family: sans-serif;
    overflow-y: scroll;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 50rem;
}

.main {
    width: 60%;
    
    // BUG #1 Ca devrait etre en 3 colonnes
    ul, li {
        margin: 0;
        padding: 0;
    }

    li {
        // BUG #2 Le `border-bottom-color` des <li> impair doit etre de couleur #9b59b6
        // (utiliser CSS uniquement)
        border-bottom: 5px solid #f1c40f;
        box-shadow: -1px 2px 37px 0px rgba(0,0,0,0.08);
        list-style: none;
        margin-bottom: 2rem;

        &:nth-child(odd){
            border-bottom-color: #9b59b6;
        }

        &:hover {
            box-shadow: -1px 2px 37px 7px rgba(0,0,0,0.09);
        }
    }

    img {
        display: block;
        height: 6rem;
        object-fit: cover;
        width: 100%;
    }

    h2 {
        color: #555;
        font-size: 0.8rem;
        line-height: 1.3;
        padding: 1rem;
    }

    a {
        text-decoration: none;
        &:hover {
            h2 {
                color: #e74c3c;
            }
        }
    }

    .header {
        padding: 2rem 0;
    }
}

.sidebar {
    width: 30%;

    ul, li {
        margin: 0;
        padding: 0;
    }

    li {
        display: block;
        line-height: 1.5;
    }
    
    a {
        color: #555;
        text-decoration: none;
        &:hover {
            color: #e74c3c;
        }
    }
}

.button {
    background: #e74c3c;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    border: none;

    // #BUG #3 Utiliser les method 'shorthand' et `EM` comme unites de mesure
    padding: (10 / 20) * 1em (20 / 20) * 1em (15 / 20) * 1em (20 / 20) * 1em;
}